<div class="page-header">
	<h1><font color="#ecf0f1">About us</font> <small>Blake and One Month</small></h1>
</div>
<div class="jumbotron">
	<p>We are working on our One Month Rails Pinteresting app!</p>
</div>