<div class="page-header">
	<h1><font color="#ecf0f1">Goals</font> <small>Personal plans for this website application</small></h1>
</div>
<div class="jumbotron">
	<p>I hope to become more proficient in rails, and understanding the basics of web development.</p>
</div>